@tailwind base;
@tailwind components;
@tailwind utilities;





/*FUENTES*/
@font-face{
    font-family: "TrebuchetMS";
    src: url('fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src: url('fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "WebSymbolsRegular";
    src: url('fonts/websymbols-regular-webfont.eot');
    src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/websymbols-regular-webfont.woff') format('woff'),
         url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.symbol{
    font-family: "WebSymbolsRegular";
}

.bebas{
    font-family: "BebasNeue";
}
.trebuchet{
    font-family: "TrebuchetMS";
}

@layer components{

    /*ESTILOS MENU*/
    .menu-item{
        @apply mr-5 ml-5 tracking-wider flex-none /*xs-flex-1;*/
        
    }
    .menu-item-a{
        @apply block transition duration-200 hover:text-azul-claro transform hover:scale-125;
                       
    }
    .card{
        @apply
        flex-1
        h-[380px]
        border-2
        border-gray-200
        shadow-md
        bg-white
        
        m-5
        pl-5
        pr-5
        mt-10
        cursor-pointer
        transition
        duration-300
        md:h-40
        md:m-2
        lg:h-80
        lg:m-5
        xs:h-32
        xs:m-2
        overflow-hidden
        xs:mr-0

     
      
      

        


    }

    .card-icon{
        font-family: "WebSymbolsRegular";
        @apply
            block
            w-full
            h-32
            text-5xl
            text-center
            mt-12
            mx-auto
            transition 
            duration-300
            pt-5

            md:mt-3
            lg:mt-12
            md:h-20
            lg:h-[100px]
            xs:mt-3
            xs:h-20
            xs:text-[30px]
            xs:mt-[1px]
            xs:h-[50px]



    }

    .card-category{
        @apply
            w-full
            h-12
            text-xl
            text-center
            text-black
            font-bold
            transition
            duration-300
            md:h-6
            xs:text-base
            xs:h-6
            
            ;
    }

    .card-description{
        font-family: "TrebuchetMS";
        @apply 
            text-center
            text-black
            text-base
            transition
            duration-300
            lg:text-sm
            lg:mt-1.5
            md:hidden
            lg:block
            xl:text-base
            xl:mt-1
            xs:hidden
            ;
    }

    .imagenes{
        @apply
        flex-1
        h-[800px]
        border-2
        border-gray-200
        shadow-md
        bg-white
        overflow-hidden
        m-5
        pl-5
        pr-5
        mt-10
        cursor-pointer
        transition
        duration-300
        xs:h-[300px]
        xs:m-[1px]
        xs:bg-center
        
    }

    .article-items{
        @apply
        w-full
        h-auto
        border
        border-gray-200
        mx-auto
        m-10
        p-2.5
        bg-white
        text-black
        shadow-md
        ;
    }

    .article-data{
        @apply
          float-right
        bg-azul-claro
          h-10
          leading-7
           p-1
           text-white
           -m-2.5
           text-sm
           rounded-bl-lg
           xs:mb-4
           ;

    }

    .article-data span{
        @apply m-2.5;
    }

    .article-head{
        @apply
        block
        text-2xl
        m-1
        ;
    }

    .article-head a{
        @apply font-semibold text-azul-oscuro hover:underline;
    }

    .article-description{
        @apply
        block
        mt-3
        mb-3
        text-base
        font-sans
        font-normal
        ;
    }

    .aside-header{
        font-family: "BebasNeue";
        background: url('../img/pxgray.png'), white;
        @apply

        leading-10
        h-11
        block
        text-3xl
        font-medium
        tracking-widest
        pl-3.5
        pt-1
        mb-3.5
        border
        shadow-header3D
        ;
                   
    }

    .aside-box{
        @apply
        w-10/12
        max-w-xs
        h-60
        mx-auto
        mt-5
        pt-1
        bg-white
        shadow-box
        mb-7
        xs:w-60
        ;    
    }


    .login-input{
        @apply
            block
            mx-auto
            mt-5
            w-10/12
            h-8
            border
            border-gray-300
            shadow-inner
            pl-7
            rounded-md
            text-gray-500
            transition
            duration-300
            outline-none
            focus:outline-none
            focus:text-gray-600
            ;

    }

    .login-icon{
        @apply
            symbol
            text-center
            absolute
            ml-7
            mt-1
            h-8

            
            ;

    }

    .login-button{
        @apply
            trebuchet
            w-24
            h-8
            mt-5
            ml-5
            mb-5
            text-center
            text-white
            text-base
            border
            border-azul-oscuro
            rounded-none
            cursor-pointer
            font-light
            bg-gradient-to-b from-azul-claro to-azul-oscuro
            transition
            duration-300
            hover:shadow-md
            ;

    }

    .login-link{
        @apply
            block
            ml-4
            text-sm
            text-gray-600
            hover:underline
            hover:text-azul-oscuro     
            ;   
    }

    .social-icon{
        @apply
            symbol
            block
            text-gray-700
            text-3xl
            mb-5
            mt-3
            ml-5
            ;

    }

    .social-overlay{
        @apply
        block
        absolute
        h-10
        pl-2
        pr-2
        pt-1
        ml-16
        -mt-14
        font-sans
        font-bold
        text-gray-700
        tracking-wide
        shadow-md
        border-4
        border-white
        bg-gray-100
        cursor-pointer
        opacity-0
        transition
        duration-300
        transform
        -translate-x-3/4
        ;        
    }

    .footer-box{
        @apply
            trebuchet
            flex-1
            w-80
            h-96
            m-10
            text-center
            text-white

            xs:w-11/12
            xs:mx-auto
            xs:mt-3
            md:w-11/12
            md:mx-auto
            md:mt-3
            lg:w-80
            lg:m-10
            ;
    }

    .footer-header{
        background: url('../img/pxgray.png'), white;
        @apply
            bebas
            tracking-wide
            text-4xl
            text-center
            text-black
            rounded-md
            p-1.5
            pt-2
            mb-4
            ;
    }
    .footer-menu{
        @apply
        text-left 
        m-5 
        text-2xl
        ;
    }

    .footer-menu li{
        @apply
        mt-3
        p-1
        border-b-2
        border-gray-400
        transition
        duration-300
        ;
    }

    .footer-menu li a{
        @apply
            block
            h-10
            transition
            duration-300
            text-white
            hover:text-azul-claro
            ;
    }

    .browsers a{
        @apply
            flex-1
            mb-1.5
        ;
    }


    .browsers a img{
        @apply
            w-11
        ;
    }

    
}



